@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;

  font-family: 'Manrope', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
  width: 100%;
  touch-action: manipulation;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -ms-user-select: none;
}

.overflow-x-scroll::-webkit-scrollbar {
  display: none;
}

.overflow-y-scroll::-webkit-scrollbar {
  display: none;
}
div {
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

p {
  margin: 0;
  line-height: 1.25;
  font-size: 16px;
  white-space: pre-line;
}


a {
  text-decoration: none;
}

.line-with-circles {
  position: relative;
  width: 60% ;
  height: 1px;
  background-color: #0fb4e2;
}

.line-with-circles::before,
.line-with-circles::after {
  content: "";
  position: absolute;
  top: -4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #0fb4e2;
}

.line-with-circles::before {
  left: -4px;
}

.line-with-circles::after {
  right: -4px;
}
.scroll-snap-y {
  scroll-snap-type: y mandatory;
}

.scroll-snap-align-start {
  scroll-snap-align: start;
}

:where(.css-dev-only-do-not-override-17a39f8).ant-input {
  padding: 7px 11px;
  border-radius: 16px;
}
:where(.css-dev-only-do-not-override-17a39f8).ant-input-group .ant-input-group-addon {
  border-radius: 16px;
}
:where(.css-dev-only-do-not-override-17a39f8).ant-form-vertical .ant-form-item-label, :where(.css-dev-only-do-not-override-17a39f8).ant-col-24.ant-form-item-label, :where(.css-dev-only-do-not-override-17a39f8).ant-col-xl-24.ant-form-item-label {
  padding: 0px
}
:where(.css-dev-only-do-not-override-17a39f8).ant-form-item {
  margin-bottom: 8px;
}
:where(.css-dev-only-do-not-override-17a39f8).ant-input-group .ant-input-group-addon {
  background-color: #fff;
}
.ant-input-search :where(.css-dev-only-do-not-override-17a39f8).ant-input-group .ant-input-affix-wrapper:not(:last-child) {
  padding: 8px 11px;
}
:where(.css-dev-only-do-not-override-17a39f8).ant-steps.ant-steps-dot .ant-steps-item-content, :where(.css-dev-only-do-not-override-17a39f8).ant-steps.ant-steps-dot.ant-steps-small .ant-steps-item-content {
  width: auto;
  flex: 1;
}
:where(.css-dev-only-do-not-override-17a39f8).ant-select-single .ant-select-selector {
  padding: 8px 11px;
  border-radius: 16px;
}
:where(.css-dev-only-do-not-override-17a39f8).ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  height: 38px;
  padding: 3px 11px;
}
:where(.css-dev-only-do-not-override-17a39f8).ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
  height: 38px;
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  -webkit-box-pack : start !important;
  justify-content: start !important;
  -webkit-justify-content: flex-start !important;
   color: #131313 !important;
}
@layer components {
  .card {
    background-color: #61dafb;
    border-radius: theme('borderRadius.lg');
    padding: 24px;
    box-shadow: theme('boxShadow.xl');
  }
}
.react-calendar {
  width: 400px;
  max-width: 100%;
  background-color: #fff;
  color: #222;
  border-radius: 8px;
  border: none!important;
  /*box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);*/
  padding: 24px !important;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}
.react-calendar__navigation button {
  color: #414C58;
  min-width: 44px;
  background: none;
  font-size: 18px;
  margin-top: 8px;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
abbr[title] {
  text-decoration: none;
  font-size: 12px !important;
  font-weight: 500 !important;
}
.react-calendar__month-view__days__day {
  color: #414C58 !important;
}
 .react-calendar__month-view__days__day--weekend {
 color: #414C58 !important;
}

.react-calendar__month-view__weekdays {
  font-weight:500 !important;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  color: #0fb4e2;
  border-radius: 36px !important;
}
.react-calendar__tile{
  border-radius: 36px !important;
}
.react-calendar__tile--active{
  color:#ffffff !important;
  border-radius: 36px !important;
}
/*.react-calendar__tile--now {*/
/*  background: transparent !important;*/
/*}*/

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #0fb4e2;
  border-radius: 36px;
  font-weight: bold;
  color: #0fb4e2;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
}
.react-calendar__tile--active {
  background: #0fb4e2;
  border-radius: 36px;
  font-weight: bold;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #0fb4e2;
  color: white;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
}
.react-calendar__tile--range {
  background: #f8f8fa;
  color: #0fb4e2;
  border-radius: 0;
}
.react-calendar__tile:disabled{
  color: #9CA5B0 !important;
  background-color: #ffffff !important;
}
.bottom{
  bottom: 0;
  position: fixed;
  width: 100%;
}
